<ol class="review-list">
  {{#each reviews as |review|}}
  <li>
    <article class="review">
      <div class="title">
        <a href="{{review.review_url}}" target="_blank">{{review.title}}</a>
        <span>({{review.review_url}})</span>
      </div>
      <div class="meta">
        {{review.vote_count}} point(s) by {{review.user.username}} on
        {{review.created_at}}
        |
        <a href="/review/{{review.id}}">{{review.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>




